<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aviators - byaviators.com">
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="assets/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="assets/css/bootstrap-responsive.css" type="text/css">
    <link rel="stylesheet" href="assets/libraries/chosen/chosen.css" type="text/css">
    <link rel="stylesheet" href="assets/libraries/jquery-ui-1.10.2.custom/css/ui-lightness/jquery-ui-1.10.2.custom.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/realia-blue.css" type="text/css" id="color-variant-default">
    <link rel="stylesheet" href="#" type="text/css" id="color-variant">

    <script src="https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js"></script>
    <title>HSBC理财产品</title>
</head>
<body ng-app="myApp" ng-controller="customersCtrl">
<div id="wrapper-outer">
    <div id="wrapper">
        <div id="wrapper-inner">
            <!-- HEADER -->
            <div id="header-wrapper">
                <div id="header">
                    <div id="header-inner">
                        <div class="container">
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <div class="row">
                                        <div class="logo-wrapper span4">
                                            <a href="#nav" class="hidden-desktop" id="btn-nav">Toggle navigation</a>

                                            <div class="logo">
                                                <a href="#" title="Home">
                                                    <img src="assets/img/logo.png" alt="HSBC Home">
                                                </a>
                                            </div><!-- /.logo -->

                                            <div class="site-productName">
                                                <a href="/" title="HSBC" class="brand">HSBC</a>
                                            </div><!-- /.site-productName -->

                                            <div class="site-slogan">
                                                <span>HSBC Financial&amp; Earn Money<br>Made Easy</span>
                                            </div><!-- /.site-slogan -->
                                        </div><!-- /.logo-wrapper -->

                                        <div class="info">
                                            <div class="site-email">
                                                <a href="mailto:info@byaviators.com">info@byaviators.com</a>
                                            </div><!-- /.site-email -->

                                            <div class="site-phone">
                                                <span>333-666-777</span>
                                            </div><!-- /.site-phone -->
                                        </div><!-- /.info -->
                                    </div><!-- /.row -->
                                </div><!-- /.navbar-inner -->
                            </div><!-- /.navbar -->
                        </div><!-- /.container -->
                    </div><!-- /#header-inner -->
                </div><!-- /#header -->
            </div><!-- /#header-wrapper -->

            <!-- NAVIGATION -->
            <div id="navigation">
                <div class="container">
                    <div class="navigation-wrapper">
                        <div class="navigation clearfix-normal">

                            <ul class="nav">
                                <li class="menuparent">
                                    <span class="menuparent nolink">Homepage</span>
                                    <!--<ul>-->
                                    <!--<li><a href="index-slider.html">Homepage with slider</a></li>-->
                                    <!--<li><a href="index.html">Homepage with map</a></li>-->
                                    <!--<li><a href="index-simple.html">Simple homepage</a></li>-->
                                    <!--<li><a href="index-carousel.html">Homepage with carousel</a></li>-->
                                    <!--</ul>-->
                                </li>
                                <li class="menuparent">
                                    <span class="menuparent nolink">Listing</span>
                                    <ul>
                                        <li><a href="listing-grid.html">Listing grid</a></li>
                                        <li><a href="listing-grid-filter.html">Listing grid with filter</a></li>
                                        <li><a href="listing-rows.html">Listing rows</a></li>
                                        <li><a href="listing-rows-filter.html">Listing rows with filter</a></li>
                                    </ul>
                                </li>
                                <li class="menuparent">
                                    <span class="menuparent nolink">Pages</span>
                                    <ul>
                                        <li><a href="about-us.html">About us</a></li>
                                        <li><a href="our-agents.html">Our agents</a></li>
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="shortcodes.html">Shortcodes</a></li>
                                        <li class="menuparent">
                                            <span class="menuparent nolink">Another level</span>
                                            <ul>
                                                <li><a href="contact-us.html">Contact Us</a></li>
                                                <li><a href="http://www.cssmoban.com">More theme</a></li>
                                                <li><a href="grid-system.html">Grid system</a></li>
                                                <li><a href="typography.html">Typography</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="404.html">404 page</a></li>
                                    </ul>
                                </li>
                                <li class="menuparent">
                                    <span class="menuparent nolink">Pricing</span>
                                    <ul>
                                        <li><a href="pricing-boxed.html">Boxed pricing</a></li>
                                        <li><a href="pricing-multiple.html">Multiple pricing</a></li>
                                        <li><a href="pricing-simple.html">Simple Pricing</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact-us.html">Contact Us</a></li>
                                <li><a href="http://www.cssmoban.com">More theme</a></li>
                            </ul><!-- /.nav -->

                            <form  class="site-search" action="#">
                                <div class="input-append">
                                    <input title="Enter the terms you wish to search for."
                                           class="search-query span2 form-text" placeholder="Search" type="text"
                                           name="" id="productCodeOrProductName">
                                    <button type="submit" class="btn" ng-click="searchProduct()"><i
                                            class="icon-search"></i></button>
                                </div><!-- /.input-append -->
                            </form><!-- /.site-search -->
                        </div><!-- /.navigation -->
                    </div><!-- /.navigation-wrapper -->
                </div><!-- /.container -->
            </div><!-- /.navigation -->

            <!-- CONTENT -->
            <div id="content">
                <div class="container clearfix">

                    <div id="main">
                        <div class="row">
                            <div class="span9">
                                <div class="properties-rows">
                                    <div class="filter">
                                        <form action="#" class="form-horizontal">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="control-group">
                                                            <label class="control-label"> <!--for="inputOrder"-->
                                                                Product type selection -
                                                                <a class="form-required" title="This field is required.">*</a>
                                                            </label>
                                                            <div class="controls">
                                                                <select id="productType"  ng-change="getDataNumberOrProductType()" ng-model="counterInput1" >
                                                                    <option ng-repeat="x in productsType">{{x.productType}}</option>
                                                                </select>
                                                            </div><!-- /.controls -->
                                                        </div><!-- /.control-group -->
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="control-group">
                                                            <label class="control-label"> <!--for="inputOrder"-->
                                                                Article display the data -
                                                                <a class="form-required" title="This field is required.">*</a>
                                                            </label>
                                                            <div class="controls">
                                                                <select id="dataNumber" ng-change="getDataNumberOrProductType()" ng-model="counterInput">
                                                                    <option>2</option>
                                                                    <option>5</option>
                                                                    <option>10</option>
                                                                    <option>15</option>
                                                                </select>
                                                            </div><!-- /.controls -->
                                                        </div><!-- /.control-group -->
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div><!-- /.filter -->
                                </div><!-- /.properties-rows -->

                                <div class="properties-rows">
                                    <div class="row">
                                        <div class="property span9 clearfix"
                                             ng-repeat="pro in products | orderBy:'productPrice'">
                                            <div class="row">
                                                <div class="image span3">
                                                    <div class="content">
                                                        <img src="{{pro.icon}}" alt="">
                                                    </div><!-- /.content -->
                                                </div><!-- /.image -->
                                                <!--ng-repeat="pro in products | filter:myselect | orderBy:'productPrice'"-->
                                                <div class="body span6">
                                                    <div class="title-price row">
                                                        <div class="title span4">
                                                            <h2>产品代码：<a href="" ng-bind="pro.productCode"></a></h2>
                                                        </div><!-- /.title -->
                                                        <div class="" style="float: right;">
                                                            <h4>价格:<a class="price" style="color: red" ng-bind="pro.productPrice"></a></h4>
                                                        </div>
                                                    </div>

                                                    <div class="location clearfix">
                                                        <div style="float: left;">描述</div>
                                                        <div style="float: right;">产品类型:<a style="float: right;" ng-bind="pro.productType"></a>
                                                        </div>

                                                    </div>
                                                    <p ng-bind="pro.description"></p>
                                                    <div class="">
                                                        <span class="key">发售起始日：</span>
                                                        <span class="value" style="color: red" ng-bind="pro.productSelldata"></span>
                                                        <div style="float:right">
                                                            <span class="key">发售截止日：</span>
                                                            <span class="value" style="color: red" ng-bind="pro.productDeadline"></span>
                                                        </div>
                                                        <div>
                                                            <span class="key">产品到期日：</span>
                                                            <span class="value" style="color: red" ng-bind="pro.productDuedate"></span>
                                                        </div>
                                                        <div style="float: right">
                                                            <button type="button" class="btn btn-primary"
                                                                    data-toggle="modal"
                                                                    data-target="#primaryModal"
                                                                    data-whatever="{{$index}}"><i
                                                                    class="fa fa-edit"></i>&nbsp;
                                                                购买
                                                            </button>
                                                            <!--<span class="value"></span>-->
                                                        </div>
                                                    </div><!-- /.area -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pagination pagination-centered">
                                    <ul>
                                        <!--<a ng-model="totalElements">第{{}}页</a>-->
                                        <li><a ng-model="totalElements">总共{{totalElements}}条数据</a></li>
                                        <li><a ng-model="totalPages">总共{{totalPages}}页</a></li>
                                        <li><a ng-model="pageNumber" ng-click="pageFunction(pageNumber-1)">上一页</a></li>
                                        <li><a ng-model="pageNumber" ng-click="pageFunction(pageNumber+1)">下一页</a></li>
                                        <li><a>最后一页</a></li>
                                    </ul>
                                </div><!-- /.pagination -->
                            </div><!-- /.properties-rows -->
                            <div class="sidebar span3 ">
                                <h2>Property filter</h2>
                                <div class="property-filter widget">
                                    <div class="content">
                                        <form method="get" action="?">
                                            <div class="location control-group">
                                                <label class="control-label" for="inputLocation">
                                                    Location
                                                </label>
                                                <div class="controls">
                                                    <select id="inputLocation">
                                                        <option id="malibu">Malibu, CA</option>
                                                        <option id="palo-alto">Palo Alto, CA</option>
                                                    </select>
                                                </div><!-- /.controls -->
                                            </div><!-- /.control-group -->

                                            <div class="type control-group">
                                                <label class="control-label" for="inputType">
                                                    Type
                                                </label>
                                                <div class="controls">
                                                    <select id="inputType">
                                                        <option id="apartment">Apartment</option>
                                                        <option id="condo">Condo</option>
                                                    </select>
                                                </div><!-- /.controls -->
                                            </div><!-- /.control-group -->

                                            <div class="beds control-group">
                                                <label class="control-label" for="inputBeds">
                                                    Beds
                                                </label>
                                                <div class="controls">
                                                    <select id="inputBeds">
                                                        <option id="11">1</option>
                                                        <option id="22">2</option>
                                                    </select>
                                                </div><!-- /.controls -->
                                            </div><!-- /.control-group -->

                                            <div class="baths control-group">
                                                <label class="control-label" for="inputBaths">
                                                    Baths
                                                </label>
                                                <div class="controls">
                                                    <select id="inputBaths">
                                                        <option id="1">1</option>
                                                        <option id="2">2</option>
                                                    </select>
                                                </div><!-- /.controls -->
                                            </div><!-- /.control-group -->


                                            <div class="rent control-group">
                                                <div class="controls">
                                                    <label class="checkbox" for="inputRent">
                                                        <input type="checkbox" id="inputRent"> Rent
                                                    </label>
                                                </div><!-- /.controls -->
                                            </div><!-- /.control-group -->

                                            <div class="sale control-group">
                                                <div class="controls">
                                                    <label class="checkbox" for="inputSale">
                                                        <input type="checkbox" id="inputSale"> Sale
                                                    </label>
                                                </div><!-- /.controls -->
                                            </div><!-- /.control-group -->

                                            <div class="productPrice-from control-group">
                                                <label class="control-label" for="inputPriceFrom">
                                                    Price from
                                                </label>
                                                <div class="controls">
                                                    <input type="text" id="inputPriceFrom" productName="inputPriceFrom">
                                                </div><!-- /.controls -->
                                            </div><!-- /.control-group -->

                                            <div class="productPrice-to control-group">
                                                <label class="control-label" for="inputPriceTo">
                                                    Price to
                                                </label>
                                                <div class="controls">
                                                    <input type="text" id="inputPriceTo" productName="inputPriceTo">
                                                </div><!-- /.controls -->
                                            </div><!-- /.control-group -->

                                            <div class="productPrice-value">
                                                <span class="from"></span><!-- /.from -->
                                                -
                                                <span class="to"></span><!-- /.to -->
                                            </div><!-- /.productPrice-value -->

                                            <div class="productPrice-slider"></div><!-- /.productPrice-slider -->
                                            <div class="form-actions">
                                                <input type="submit" value="Filter now!"
                                                       class="btn btn-primary btn-large">
                                            </div><!-- /.form-actions -->
                                        </form>
                                    </div><!-- /.content -->
                                </div><!-- /.property-filter -->
                            </div><!-- /#wrapper-inner -->
                            </div><!-- /#wrapper -->

                        </div>

                    </div><!-- /#wrapper-outer -->

                    <div class="palette clearfix">
                        <div class="inner">
                            <div class="headers">
                                <h2>Header styles</h2>
                                <ul>
                                    <li><a class="header-light">Light</a></li>
                                    <li><a class="header-normal">Normal</a></li>
                                    <li><a class="header-dark">Dark</a></li>
                                </ul>
                            </div><!-- /.headers -->

                            <div class="patterns">
                                <h2>Background patterns</h2>
                                <ul>
                                    <li><a class="pattern-cloth-alike">cloth-alike</a></li>
                                    <li><a class="pattern-corrugation">corrugation</a></li>
                                    <li><a class="pattern-diagonal-noise">diagonal-noise</a></li>
                                    <li><a class="pattern-dust">dust</a></li>
                                    <li><a class="pattern-fabric-plaid">fabric-plaid</a></li>
                                    <li><a class="pattern-farmer">farmer</a></li>
                                    <li><a class="pattern-grid-noise">grid-noise</a></li>
                                    <li><a class="pattern-lghtmesh">lghtmesh</a></li>
                                    <li><a class="pattern-pw-maze-white">pw-maze-white</a></li>
                                    <li><a class="pattern-none">none</a></li>
                                </ul>
                            </div>

                            <div class="colors">
                                <h2>Color variants</h2>
                                <ul>
                                    <li><a href="assets/css/realia-red.css" class="red">Red</a></li>
                                    <li><a href="assets/css/realia-magenta.css" class="magenta">Magenta</a></li>
                                    <li><a href="assets/css/realia-brown.css" class="brown">Brown</a></li>
                                    <li><a href="assets/css/realia-orange.css" class="orange">Orange</a></li>
                                    <li><a href="assets/css/realia-brown-dark.css" class="brown-dark">Brown dark</a>
                                    </li>

                                    <li><a href="assets/css/realia-gray-red.css" class="gray-red">Gray Red</a></li>
                                    <li><a href="assets/css/realia-gray-magenta.css" class="gray-magenta">Gray
                                        Magenta</a></li>
                                    <li><a href="assets/css/realia-gray-brown.css" class="gray-brown">Gray Brown</a>
                                    </li>
                                    <li><a href="assets/css/realia-gray-orange.css" class="gray-orange">Gray
                                        Orange</a>
                                    </li>
                                    <li><a href="assets/css/realia-gray-brown-dark.css" class="gray-brown-dark">Gray
                                        Brown dark</a></li>

                                    <li><a href="assets/css/realia-green-light.css" class="green-light">Green
                                        light</a>
                                    </li>
                                    <li><a href="assets/css/realia-green.css" class="green">Green</a></li>
                                    <li><a href="assets/css/realia-turquiose.css" class="turquiose">Turquiose</a>
                                    </li>
                                    <li><a href="assets/css/realia-blue.css" class="blue">Blue</a></li>
                                    <li><a href="assets/css/realia-violet.css" class="violet">Violet</a></li>

                                    <li><a href="assets/css/realia-gray-green-light.css" class="gray-green-light">Gray
                                        Green light</a></li>
                                    <li><a href="assets/css/realia-gray-green.css" class="gray-green">Gray Green</a>
                                    </li>
                                    <li><a href="assets/css/realia-gray-turquiose.css" class="gray-turquiose">Gray
                                        Turquiose</a></li>
                                    <li><a href="assets/css/realia-gray-blue.css" class="gray-blue">Gray Blue</a>
                                    </li>
                                    <li><a href="assets/css/realia-gray-violet.css" class="gray-violet">Gray
                                        Violet</a>
                                    </li>
                                </ul>
                            </div><!-- /.colors -->

                            <a href="#" class="btn btn-primary reset">Reset default</a>
                        </div><!-- /.inner -->
                    </div><!-- /.palette -->
                </div>
            </div>
        </div>
    </div>

    <!--新增和编辑的模态框-->
    <div class="modal fade" id="primaryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true"
         style="display: none;">
        <div class="modal-dialog modal-primary" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Pay...</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form-add" enctype="multipart/form-data" productName="editProductInfoForm" novalidate>
                        <div class="card-body">
                            <div class="form-group">
                                <input type="hidden" id="productcode" name="productcode">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-1">
                                <span id="span_studentNameTip" style="color:#f00;display:inline-block;"></span>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">please input your pay password</span>
                                </div>
                                </br>
                                <input type="password" id="paypassword" name="paypassword" ng-model="productCode"
                                       class="form-control" ng-minlength="6" ng-maxlength="6" required>
                                </br>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="save" ng-model="pageNumber" ng-click="saveProduct()">confirm
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
            </div>
        </div>
        <!--&lt;!&ndash; /.modal-content &ndash;&gt;ng-disabled="editProductInfoForm.productCode.$dirty && editProductInfoForm.productCode.$invalid "-->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    var totlePageNumber;//用来记录总共有多少页，进行翻页时，判断是否超出页数，如果超出页数，则不能翻页
    /*define of messageFunction*/
    /*error function*/
    function warnMessage(msg) {
        $.message({
            message: msg,
            type: 'warning'
        });
    }

    function errorMessage(msg) {
        $.message({
            message: msg,
            type: 'error'
        });
    }

    var app = angular.module("myApp", []);
    app.controller("customersCtrl", function ($scope, $http) {
        $http({
            method: 'POST',
            url: "/user/get/products"
        })
            .then(function success(result) {
                    //后台返回的数据
                    $scope.products = result.data.content;

                    //总页数
                    $scope.totalPages = result.data.totalPages

                    //总共有多少条记录
                    $scope.totalElements = result.data.totalElements
                    //当前页数
                    $scope.currentPage = result.data.number;
                    //用于控制上一页。下一页
                    $scope.pageNumber = result.data.pageable.pageNumber
                    totlePageNumber = result.data.totalPages
                },
                function error() {
                    errorMessage("出错了")
                }
            );
        //得到所有的产品类型
        $http({
            url: "/get/productType",
            method: "get"
        }).then(function (resp) {
            $scope.productsType = resp.data;
        })

        $scope.pageFunction = function (pageNumber) {
            if (pageNumber >= totlePageNumber) {
                warnMessage("没有下一页了")
                return false;
            }
            if (pageNumber < 0) {
                warnMessage("没有上一页了")
                return false;
            }
            var productType = $("#productType").find("option:selected").text();//选中的文本
            var dataNumber = $("#dataNumber").find("option:selected").text();//选中的文本
            var jsonData = {"pageNumber": pageNumber, productType: productType, dataCount: dataNumber};
            $http({
                url: "/user/get/products",
                method: "post",
                data: jsonData,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                transformRequest: function (obj) {
                    var str = [];
                    for (var p in obj) {
                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                    }
                    return str.join("&");
                }
            }).then(function (result) {
                //后台返回的数据
                $scope.products = result.data.content;
                //总页数
                $scope.totalPages = result.data.totalPages
                //总共有多少条记录
                $scope.totalElements = result.data.totalElements
                //当前页数
                $scope.currentPage = result.data.number;
                //用于控制上一页。下一页
                $scope.pageNumber = result.data.pageable.pageNumber
                totlePageNumber = result.data.totalPages
            })
        }


        //查找产品
        $scope.searchProduct = function () {
            var productCode;
            var productName;
            var productCodeOrProductName = $("#productCodeOrProductName").val();
            var reg = /^[0-9]+.?[0-9]*$/;
            if (reg.test(productCodeOrProductName)) {
                productCode = productCodeOrProductName;
            } else {
                productName = productCodeOrProductName;
            }
            var jsonData = {productCode: productCode, productName: productName}
            $http({
                url: "/findProduct/byProductCodeOrProductName",
                method: "post",
                data: jsonData,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                transformRequest: function (obj) {
                    var str = [];
                    for (var p in obj) {
                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                    }
                    return str.join("&");
                }
            })
                .then(function (result) {
                    //后台返回的数据
                    $scope.products = result.data;

                    /*   //总页数
                       $scope.totalPages = result.data.length

                       //总共有多少条记录
                       $scope.totalElements = result.data.length
                       //用于控制上一页。下一页
                       $scope.pageNumber = result.data.length
                       totlePageNumber = result.data.length*/
                    product = result.data
                })
        }

        //根据选择的数据显示数量，从新获取数据
        $scope.getDataNumberOrProductType = function () {
            var productType = $("#productType").find("option:selected").text();//选中的文本
            var dataNumber = $("#dataNumber").find("option:selected").text();//选中的文本
            var jsonData = {"dataCount": dataNumber, "productType": productType};
            $http({
                url: "/user/get/products",
                method: "post",
                data: jsonData,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                transformRequest: function (obj) {
                    var str = [];
                    for (var p in obj) {
                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                    }
                    return str.join("&");
                }
            }).then(function (result) {
                //后台返回的数据
                $scope.products = result.data.content;
                //总页数
                $scope.totalPages = result.data.totalPages

                //总共有多少条记录
                $scope.totalElements = result.data.totalElements
                //当前页数
                $scope.currentPage = result.data.number;
                //用于控制上一页。下一页
                $scope.pageNumber = result.data.pageable.pageNumber
                totlePageNumber = result.data.totalPages
            })
        }


        //新增加菜单
        $scope.saveProduct = function () {
            //要再一次验证产品的产品代码、产品价格等信息
            var productCode = $("#productcode").val();
            var payPassword = $("#paypassword").val();
            $http({
                // url: "/manager/add/products",
                url: "/order/toorder",
                method: "post",
                params: {'productCode': productCode, 'payPassword': payPassword},
                headers: {
                    'Content-Type': undefined
                },
                transformRequest: angular.identity
            }).then(function (result) {
                $("#primaryModal").modal('hide');
                alert("status: " + result.data.code + "  msg: " + result.data.msg + "  data: " + result.data.data)

            });
        }
    });
    var p;

    // 修改产品的信息
    $('#primaryModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes  //get the index
        var modal = $(this)
        modal.find('.modal-body input#productcode').val(product[recipient].productCode)
        p = product[recipient].productCode
        console.log(p)
    });
</script>
</div>
</body>
<script type="text/javascript" src="assets/js/jquery.js"></script>
<script type="text/javascript" src="assets/js/jquery.ezmark.js"></script>
<script type="text/javascript" src="assets/js/jquery.currency.js"></script>
<script type="text/javascript" src="assets/js/jquery.cookie.js"></script>
<script type="text/javascript" src="assets/js/retina.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/carousel.js"></script>
<script type="text/javascript" src="assets/js/gmap3.min.js"></script>
<script type="text/javascript" src="assets/js/gmap3.infobox.min.js"></script>
<script type="text/javascript"
        src="assets/libraries/jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.min.js"></script>
<script type="text/javascript" src="assets/libraries/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript"
        src="assets/libraries/iosslider/_src/jquery.iosslider.min.js"></script>
<script type="text/javascript"
        src="assets/libraries/bootstrap-fileupload/bootstrap-fileupload.js"></script>
<script type="text/javascript" src="assets/js/realia.js"></script>

<script src="myjquery/js/jquery.min.js"></script>
<script src="myjquery/js/message.js"></script>
<script src="myjquery/js/messageIE.js"></script>
</html>