<!DOCTYPE html>
<html lang="en">
<head>
    <!--<base href="${request.scheme+'://'+request.serverName+':'+request.serverPort+'/'+ctxPath}"/>-->
    <meta charset="utf-8">
    <script src="https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword"
          content="Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,Angular 2,Angular4,Angular 4,jQuery,CSS,HTML,RWD,Dashboard,React,React.js,Vue,Vue.js">
    <link rel="shortcut icon" href="img/favicon.png">
    <title>HSBC后台产品管理</title>

    <!-- Icons -->
    <link href="vendors/css/flag-icon.min.css" rel="stylesheet">
    <link href="vendors/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendors/css/simple-line-icons.min.css" rel="stylesheet">

    <!-- Main styles for this application -->
    <link href="css/style.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="//apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">-->
    <script src="https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>

    <!-- Styles required by this views -->
    <!-- <script type="text/javascript">
         function setImagePreview(avalue) {
             var docObj = document.getElementById("file");
             var imgObjPreview = document.getElementById("preview");
             if (docObj.files && docObj.files[0]) {
                 //火狐下，直接设img属性
                 imgObjPreview.style.display = 'block';
                 imgObjPreview.style.width = '100px';
                 imgObjPreview.style.height = '100px';
                 //imgObjPreview.src = docObj.files[0].getAsDataURL();
                 //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
                 imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
             }
             else {
                 //IE下，使用滤镜
                 docObj.select();
                 var imgSrc = document.selection.createRange().text;
                 var localImagId = document.getElementById("localImag"); //必须设置初始大小
                 localImagId.style.width = "100px";
                 localImagId.style.height = "100px"; //图片异常的捕捉，防止用户修改后缀来伪造图片
                 try {
                     localImagId.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                     localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
                 } catch (e) {
                     alert("您上传的图片格式不正确，请重新选择!");
                     return false;
                 }
                 imgObjPreview.style.display = 'none';
                 document.selection.empty();
             }
             return true;
         }


     </script>-->


</head>
<body ng-app="myApp" ng-controller="customersCtrl"
      class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
<header class="app-header navbar">

    <h4 style="margin: auto">教学管理后台系统</h4>

    <ul class="nav navbar-nav ml-auto">

        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                <img id="adminImage" src="img/avatars/6.jpg" class="img-avatar">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" id="showAdminMessage" href="#" data-toggle="modal" data-target="#adminModal"
                   data-whatever="1"><i class="fa fa-user"></i>个人信息</a>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#updateAdminPasswordModal"><i
                        class="fa fa-wrench"></i>修改密码</a>
                <a class="dropdown-item" href="#"><i class="fa fa-file"></i>退出</a>
            </div>
        </li>
    </ul>
</header>

<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-title">
                    <!--<a class="nav-title" href="#"><i class="icon-speedometer"></i>教学系统功能界面</a>-->
                    HSBC产品管理
                </li>

                <!--<li class="nav-title">-->
                <!--Theme-->
                <!--</li>-->
                <li class="nav-item">
                    <a href="/student/students" class="nav-link"><i class="fa fa-user-circle-o"></i> 理财产品管理</a>
                </li>
                <li class="nav-item">
                    <a href="/teacher/teachers" class="nav-link"><i class="fa fa-gear"></i>教师信息管理</a>
                </li>
                <!--<li class="nav-item">-->
                <!--<a href="#" class="nav-link"><i class="fa fa-bar-chart-o "></i>批量导入和导出</a>-->
                <!--</li>-->
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> 批量导入和导出</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href="/student/export">
                                <i class="icon-puzzle"></i>学生批量导出
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="icon-puzzle"></i>
                                <button type="button" class="btn btn-success" data-toggle="modal"
                                        data-target="#successModal">
                                    学生批量导入
                                </button>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>
    <!-- Main content -->
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">>学生信息管理</li>
            <!--<li class="breadcrumb-item"><a href="#">Admin</a></li>-->
            <!--<li class="breadcrumb-item active">Dashboard</li>-->

            <!--&lt;!&ndash; Breadcrumb Menu&ndash;&gt;-->
            <!--<li class="breadcrumb-menu d-md-down-none">-->
            <!--<div class="btn-group" role="group" aria-label="Button group">-->
            <!---->
            <!--<a class="btn" href="#"><i class="icon-speech"></i></a>-->
            <!--<a class="btn" href="./"><i class="icon-graph"></i> &nbsp;Dashboard</a>-->
            <!--<a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>-->
            <!--</div>-->
            <!--</li>-->
        </ol>
        <!--查询输入框-->
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="input-prepend input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <input id="search_name" class="form-control" size="16" type="text" placeholder="请输入查询信息">
                    <span class="input-group-append">
                <button id="search" class="btn btn-info" type="button">查询</button>
              </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> 学生信息表
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <button style="float: right" type="button" class="btn btn-primary"
                                        data-toggle="modal"
                                        data-target="#primaryModal">
                                    添加学生
                                </button>
                            </div>
                        </div>
                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                            <thead>
                            <tr>
                                <th>产品代码</th>
                                <th>产品名</th>
                                <th>价格</th>
                                <th>类型</th>
                                <th>发售日期</th>
                                <th>截止发售日期</th>
                                <th>产品到期日</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="pro in products">
                                <input type="hidden" value="{{pro.id}}">
                                <td>{{pro.productCode}}</td>
                                <td>{{pro.name}}</td>
                                <td>{{pro.price}}</td>
                                <td>{{pro.type}}</td>
                                <td>{{pro.sellData}}</td>
                                <td>{{pro.deadline}}</td>
                                <td>{{pro.dueDate}}</td>
                                <td>
                                    <span class="badge badge-success">正在发售</span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#primaryModal" data-whatever="{{$index}}"><i
                                            class="fa fa-edit"></i>&nbsp;
                                        编辑
                                    </button>
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                            data-target="#dangerModal" data-whatever="{{$index}}"><i
                                            class="fa fa-trash"></i>&nbsp;
                                        删除
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <nav>
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->

        <!--/.row-->
        <!-- /.conainer-fluid -->
    </main>

</div>
<footer class="app-footer">
    <span><a href="http://coreui.io">Team-Three</a> © 2018 creativeLabs.</span>
    <span class="ml-auto">Powered by <a href="http://coreui.io">Team-Three</a></span>
</footer>

<!--管理员个人信息-->
<div class="modal fade" id="adminModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">管理员个人信息</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <!--<p>One fine body…</p>-->
                <!--<form action="/user/form" method="post">-->
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">ID</span>
                    </div>
                    <input type="text" id="adminId" name="adminId" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">用户名</span>
                    </div>
                    <input type="text" id="adminName" name="adminName" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">密码</span>
                    </div>
                    <input type="text" id="adminPassword" name="adminPassword" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">真实姓名</span>
                    </div>
                    <input type="text" id="adminTruename" name="adminTruename" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-address-card-o fa-lg"></i></span>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">电话</span>
                    </div>
                    <input type="text" id="adminTelephone" name="adminTelephone" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-phone fa-lg"></i></span>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">邮箱</span>
                    </div>
                    <input type="text" id="adminEmail" name="adminEmail" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">地址</span>
                    </div>
                    <input type="text" id="adminAddress" name="adminAddress" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">头像</span>
                    </div>
                    <input type="text" id="adminImg" name="adminImg" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--学生信息批量导入模态框-->

<!--<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">请选择excel 导入学生信息</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>请选择excel文件</p>
                <input type="file" id="studentDatas" value="选择excel文件" enctype="multipart/form-data">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" id="inputStudentDate" class="btn btn-success">开始导入</button>
            </div>
        </div>
        &lt;!&ndash; /.modal-content &ndash;&gt;
    </div>
    &lt;!&ndash; /.modal-dialog &ndash;&gt;
</div>-->


<!--学生信息批量导出模态框-->

<!--
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;"
     aria-hidden="true">
    <div class="modal-dialog modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">学生信息批量导出</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>请选择excel文件</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info">Save changes</button>
            </div>
        </div>
        &lt;!&ndash; /.modal-content &ndash;&gt;
    </div>
    &lt;!&ndash; /.modal-dialog &ndash;&gt;
</div>
-->


<!--修改管理员密码的模态框-->
<!--
<div class="modal fade" id="updateAdminPasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">修改密码</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">姓名</span>
                            </div>
                            <input type="text" id="updateAdminName" name="updateAdminName" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">旧密码</span>
                            </div>
                            <input type="password" id="oldPassword" name="oldPassword" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">新密码</span>
                            </div>
                            <input type="password" id="newPassword" name="newPassword" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button id="updateAdminPassword" type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
        &lt;!&ndash; /.modal-content &ndash;&gt;
    </div>
    &lt;!&ndash; /.modal-dialog &ndash;&gt;
</div>
-->

<!--新增和编辑的模态框-->
<div class="modal fade" id="primaryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">产品信息</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-add" enctype="multipart/form-data" name="editProductInfoForm" novalidate>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="hidden" id="productId" name="productId" class="form-control">
                            <!--<input type="hidden" id="studentOldName" name="studentOldName" class="form-control">-->
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-1">
                                <span id="span_studentNameTip" style="color:#f00;display:inline-block;"></span>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">产品代码</span>
                                </div>
                                <input type="hidden" id="originProductCode" name="originProductCode">
                                <input type="text" id="productCode" name="productCode" ng-model="productCode"
                                       class="form-control"
                                       ng-minlength="6" ng-maxlength="6" ng-blur="checkProductCodeUnique()" required>
                                <!--onblur="checkProductCodeUnique()-->
                                <span style="color:red"
                                      ng-show="editProductInfoForm.productCode.$dirty && editProductInfoForm.productCode.$invalid">
                                 <span ng-show="editProductInfoForm.productCode.$error.required">产品代码是必须的</span>
                                    <span ng-show="editProductInfoForm.productCode.$invalid&&editProductInfoForm.productCode.$dirty">产品代码只能6个数字</span>
                                </span>
                                <span id="msg-productCode" style="color:red"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">产品名</span>
                                </div>
                                <input type="text" id="name" name="name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">价格</span>
                                </div>
                                <input type="text" id="price" name="price" class="form-control" ng-blur="checkPrice()">
                                <span id="msg-price" style="color: red"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group-prepend">
                                <a class="input-group-text">类型</a>
                                <a>
                                    <input type="text" id="type" name="type" class="form-control1 ">
                                    <select>
                                        <option ng-repeat="x in productsType">
                                            {{x.productType}}
                                        </option>
                                    </select>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">发售起始日</span>
                            </div>
                            <input type="text" id="sellData" name="sellData" class="form-control"
                                   ng-blur="checkDateOfSelldate_Deadline_Duedate('{{$index}}')">
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">发售截止日</span>
                            </div>
                            <input type="text" id="deadline" name="deadline" class="form-control">
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">产品到期日</span>
                            </div>
                            <input type="text" id="dueDate" name="dueDate" class="form-control">
                            <!-- <div class="input-group-append">
                                 <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                             </div>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">产品描述</span>
                            </div>
                            <input type="text" id="description" name="description" class="form-control">
                            <!-- <div class="input-group-append">
                                 <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                             </div>-->
                        </div>
                    </div>
                    <div>
                        <div id="localImag"><img id="preview" src="img/head.jpg" width="100" height="100"
                                                 style="display: block; width: 100px; height: 100px;">
                        </div>
                        <input type="file" name="file" id="file" style="width:150px;"
                               onchange="javascript:setImagePreview();"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="save"
                    ng-disabled="editProductInfoForm.productCode.$dirty && editProductInfoForm.productCode.$invalid ">保存
            </button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>

<!--&lt;!&ndash;删除模态框&ndash;&gt;-->
<div class="modal fade" id="dangerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">删除用户信息</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <input type="hidden" id="del_id" name="del_id" class="form-control">
                确定要删除<p style="display: inline;"></p>的数据吗?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button id="delete" type="button" class="btn btn-danger">确定</button>
            </div>
        </div>

    </div>

</div>

<!--&lt;!&ndash;定义table模板&ndash;&gt;-->

<!--&lt;!&ndash;定义分页条模板&ndash;&gt;-->
<script id="student-dividePage-template" type="text/html">
    <nav>
        <ul class="pagination">
            <li class="page-item"><a class="page-link" id="prev"
                                     onclick="pageFunction('{{pageNum-1}}')">Prev</a></li>
            <li class="page-item active">
                <a class="page-link" onclick="pageFunction('{{pageNum}}')">{{pageNum+1}}</a>
            </li>
            <li class="page-item"><a class="page-link" onclick="pageFunction('{{pageNum+1}}')">{{pageNum+2}}</a>
            </li>
            <li class="page-item"><a class="page-link" onclick="pageFunction('{{pageNum+2}}')">{{pageNum+3}}</a>
            </li>
            <li class="page-item"><a class="page-link" onclick="pageFunction('{{pageNum+3}}')">{{pageNum+4}}</a>
            </li>
            <li class="page-item"><a class="page-link" onclick="pageFunction('{{pageNum+1}}')">Next</a></li>
        </ul>
    </nav>
    &nbsp;&nbsp;共{{totalPageNum}}页 &nbsp;&nbsp;当前第{{pageNum+1}}页&nbsp;&nbsp;<a href="javascript:void(0)"
                                                                               onclick="pageFunction(0)">首页</a>&nbsp;&nbsp;
    <a href="javascript:void(0)" onclick="pageFunction('{{totalPageNum-1}}')">尾页</a>
    到第<input type="text" id="findPage" name="findPage" style="width: 40px"/> 页
    <input type="submit" value="确定" onclick="findPage()"/>
    <!--每页<select id="select">-->
    <!--<option value="2" selected>2</option>-->
    <!--<option value="3">3</option>-->
    <!--<option value="4">4</option>-->
    <!--<option value="5">5</option>-->
    <!--</select>条数据-->

</script>


<!-- Bootstrap and necessary plugins -->
<script src="vendors/js/jquery.min.js"></script>
<script src="vendors/js/popper.min.js"></script>
<script src="vendors/js/bootstrap.min.js"></script>
<script src="vendors/js/pace.min.js"></script>


<!-- Plugins and scripts required by all views -->
<script src="vendors/js/Chart.min.js"></script>

<!-- CoreUI main scripts -->
<script src="js/app.js"></script>
<script src="js/art-template-web.js"></script>

<script>
    var product = [];
    var app = angular.module("myApp", []);
    app.controller("customersCtrl", function ($scope, $http) {
        $http({
            method: 'get',
            url: "/manager/productlist"
        })
            .then(function success(result) {
                    $scope.products = result.data;
                    product = result.data;
                },
                function error() {
                    alert("出错了")
                }
            );
        //2.then回调嵌套
        $http({
            url: "/get/productType",
            method: "get"
        }).then(function (resp) {
            $scope.productsType = resp.data;
        })

        //检查产品代码的唯一性
        $scope.checkProductCodeUnique = function () {
            var productCode = $("#productCode").val();
            console.log(productCode.length);

            // var reg =/^[0-9]*$/;
            var reg = /^[0-9]+.?[0-9]*$/
            document.getElementById("msg-productCode").innerHTML = "";
            console.log(reg.test(productCode));
            // var productCode = document.getElementById("productCode").value;
            //如果产品代码为空，则是新增产品，否则是编辑产品信息
            if (productCode != null) {
                //如果是编辑产品，那么先获得该产品的原来产品代码，可以比较该产品代码是改变了还是没改变
                // var originProductCode = document.getElementById("originProductCode").val;
                var originProductCode = $("#originProductCode").val();
                if (originProductCode != productCode) {
                    if (productCode.length == 6 && reg.test(productCode)) {
                        //如果改动了产品代码：改动后的产品代码必须保证唯一性
                        for (var i = 0; i < product.length; i++) {
                            if (product[i].productCode == productCode) {
                                document.getElementById("msg-productCode").innerHTML = "产品代码已经存在";
                                return false;
                            }
                        }
                        return true;
                    } else {
                        document.getElementById("msg-productCode").innerHTML = "必须为6位数字";
                        return false
                    }
                } else {
                    //如果产品代码没有更改过，那么就不用再判断
                    document.getElementById("msg-productCode").innerHTML = "";
                    return true
                }
            }
        }


        //check the selldate deadline duedate 检查产品的产品起始销售日、产品的销售截止日、产品的到期日
        /**
         * selldate(产品起始销售日)  deadline(产品的销售截止日)  duedate(产品的到期日) 之间的关系
         * 1：产品的销售截止日一定大于产品起始销售日
         * 2：产品的到期日一定大于产品的销售截止日
         * 3：默认情况，产品的起始销售日必须大于系统的当前时间
         */
        $scope.checkDateOfSelldate_Deadline_Duedate = function (x) {
            var selldate = $("").val;
            var deadline = $("").val;
            var duedate = $("").val;
            alert("下标" + x);
        }
        //检查产品价格的有效性:double（并且保留两位数或者一位数）、 int
        $scope.checkPrice = function () {
            var price = String($("#price").val());
            var tt = /^(([0-9]+[\.]?[0-9]{1,2})|[1-9])$/
            if (price > 0) {
                if (tt.test(price)) {
                    document.getElementById("msg-price").innerText = "";
                    return true;
                }
            }
            else {
                // layer.tips('请输入数字', '#f_money1');
                document.getElementById("msg-price").innerText = "输入正确的产品价格";
                return false
            }
            document.getElementById("msg-price").innerText = "输入正确的产品价格";
            return false
            // var reg = /^[0-9,.]*$/ //^[-\+]?\d+(\.\d+)?$/;
            // //alert(reg);
            // $("#f_money1").blur(function() {
            //     var a = $("#f_money1").val();
            //     //alert(a);
            //     if (!reg.test(a)) {
            //         layer.tips('请输入数字', '#f_money1');
            //         $("#f_money1").focus();
            //     }
            // })

        }

    });


    /*//2.then回调嵌套
        $http({
            url: "data.json",
            method: "get"
        }).then(function (resp) {
            $http({
                url: "/get/productType",
                method: "get"
            }).then(function (resp) {
                $scope.productsType = resp.data;
            })
        })
    });*/


    // 修改用户的信息
    $('#primaryModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes  //get the index
        var modal = $(this)
        //判断是新增还是编辑
        // teachers[recipient].teacherId
        if (recipient != null) {
            userIndex = recipient;
            modal.find('.modal-title').text('编辑用户')
            modal.find('.modal-body input#originProductCode').val(product[recipient].productCode)
            modal.find('.modal-body input#productCode').val(product[recipient].productCode)
            modal.find('.modal-body input#name').val(product[recipient].name)
            modal.find('.modal-body input#price').val(product[recipient].price)
            modal.find('.modal-body input#type').val(product[recipient].type)
            modal.find('.modal-body input#sellData').val(product[recipient].sellData)
            modal.find('.modal-body input#deadline').val(product[recipient].deadline)
            modal.find('.modal-body input#dueDate').val(product[recipient].dueDate)
            modal.find('.modal-body input#description').val(product[recipient].description)
            // modal.find('.modal-body img#preview').attr("src",teachers[recipient].teacherImg);
            modal.find('.modal-body input#file').val("");
            // modal.find('.modal-body input#teacherOldName').val(teachers[recipient].teacherName);
        } else {
            //清空模态框的数据
            modal.find('.modal-body input#teacherId').val(0);
            modal.find('.modal-body input#teacherName').val("");
            modal.find('.modal-body input#teacherPassword').val("");
            modal.find('.modal-body input#teacherTruename').val("");
            modal.find('.modal-body input#teacherschool').val("");
            modal.find('.modal-body input#teacherAcademy').val("");
            modal.find('.modal-body input#teacherClass').val("");
            modal.find('.modal-body input#teacherEmail').val("");
            modal.find('.modal-body img#preview').innerHTML = "";
            modal.find('.modal-body input#file').val("");
            //修改为默认显示头像的背景图片
            $("#preview").attr("src", "img/head.jpg");
            userIndex = -1;
        }
    });

    //编辑产品：检查产品代码的唯一
    function checkProductCodeUnique() {
        var productCode = document.getElementById("productCode").val;
        //如果产品代码为空，则是新增产品，否则是编辑产品信息
        if (productCode != null) {
            //如果是编辑产品，那么先获得该产品的原来产品代码，可以比较该产品代码是改变了还是没改变
            var originProductCode = document.getElementById("originProductCode").val;
            if (!originProductCode.equals(productCode)) {
                //如果改动了产品代码：改动后的产品代码必须保证唯一性
                for (var i = 0; i < product.length; i++) {
                    if (product[i].productCode == productCode) {
                        document.getElementById("msg-productCode").innerText = "产品代码已经存在";
                    }
                }
            } else {

            }
        } else {
            //必须保证是6为数字的产品代码：
            var reg = new RegExp("^[0-9]*$");
            if (productCode.length != 6 || !reg.test(productCode)) {
                document.getElementById("msg-productCode").innerText = "请输入6位数字产品代码";
                return false;
            }
            //做产品代码比较的放到最后，因为循环比较需要花时间，若前面的比较不通过，不需要执行该代码，提高效率
            for (var i = 0; i < product.length; i++) {
                if (product[i].productCode == productCode) {
                    document.getElementById("msg-productCode").innerText = "产品代码已经存在";
                    return false;
                }
            }
            return true;
        }

    }
</script>
</body>

</html>