<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/art-template-web.js"></script>
    <script src="js/app.js"></script>
    <script src="js/jquery.min.js"></script>
</head>
<body>
产品名：<input type="text" id="name"/><br>
价格：<input type="text" id="price"/><br>
类型：<input type="text" id="type"/><br>
描述：<input type="text" id="description"/><br>
开售日期：<input type="text" id="sellData"/><br>
停售日期：<input type="text" id="deadline"/><br>
购买到期日：<input type="text" id="dueDate"/><br>
图片：<input type="file" value="图片"/>

<script>

</script>
</body>
</html>